# Binaries
/homework-manager
homework-manager.exe
/server
server.exe
*.exe
*.dll
*.so
*.dylib

# Database
*.db
*.db-journal

# Logs
*.log

# Vendor
vendor/

# Local Config
config.ini
.env

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# OS
ehthumbs.db
Desktop.ini
